<div class="img-slider-content">
  <div class="container img-slider">
    <div class="">
      <div class="row m-b-48">
        <div class="col-md-5">
          <h2 class="f-s-40 lh-lg m-b-24 section-sub-title">Our leadership</h2>
          <div class="d-flex justify-content-between align-items-center">
            <p class="m-0">
              Our robust analytics offer rich insights into the information
              buyers want, informing where teams
            </p>
          </div>
        </div>

        <div class="col-md-7 m-t-24 position-relative d-flex flex-column justify-content-end align-items-end">
          <div class="d-flex gap-16">
            <button mat-icon-button class="d-flex align-items-center justify-content-center icon-48 bg-light" aria-label="Previous" (click)="prev()">
              <i-tabler name="arrow-left" class="d-flex align-items-center justify-content-center"></i-tabler>
            </button>
            <button mat-icon-button class="d-flex align-items-center justify-content-center icon-48 bg-light" aria-label="Next" (click)="next()">
              <i-tabler name="arrow-right" class="d-flex align-items-center justify-content-center"></i-tabler>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        @for (member of visibleTeamMembers(); track member.id){
        <div class="col-sm-6 col-md-3">
          <mat-card class="cardWithShadow productcard overflow-hidden rounded-8 position-relative shadow-none">
            <a routerLink="/widgets/cards">
              <img [src]="member.image" alt="imgSrc" class="w-100 h-100 rounded-7" mat-card-image />
            </a>
            <mat-card class="position-absolute info-card text-center p-y-16 p-x-10">
              <h3 class="f-w-600 m-b-8">{{ member.name }}</h3>
              <p class="f-s-14 m-y-0">{{ member.position }}</p>
            </mat-card>
          </mat-card>
        </div>
        }
      </div>
    </div>
  </div>
</div>