<mat-dialog-content class="p-b-0">
  <iframe width="100%" height="500" src="https://www.youtube.com/embed/n-J3dDy1kro?si=k441rPIuc1bmKXJ9" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    class="rounded-8"></iframe>
</mat-dialog-content>
<div mat-dialog-actions>
  <!-- <button mat-flat-button> Close</button> -->
  <button mat-flat-button class="bg-light text-primary" (click)="closeDialog()">
    Close
  </button>
</div>